.navbar-light .navbar-nav .nav-link {
    color: rgb(255, 255, 255);
    letter-spacing: 2px;
    font-size: 20px;
    font-family: sans-serif;
}

.carousel-caption h1 {
    font-size: 60px;
    color: rgb(255, 255, 255);
    font-family: fantasy;
    letter-spacing: 2px;
}

body {
    background: #ffffff;
}

.page-footer {
    margin-top: 1pt;
    padding: auto;
    font-family: Verdana;
    font-size: 12px;
    background-color: rgba(0, 195, 255, 0.836);
}

.footer-copyright {
    margin-top: 1%;
    font-family: Ubuntu;
    margin-top: 1pt;
}