h1 {
    text-align: center;
    font-size: 80px;
    font-family: unset;
}

body {
    margin: 0;
    padding: 0;
    background: #ffffff;
    font-family: monospace;
}

.carousel {
    height: 900px;
    perspective: 1000px;
    margin-top: -310px;
}

.carousel .carousel-item {
    width: 350px;
    cursor: pointer;
}

img {
    width: 900%;
    border-radius: 0 0 100px 100px;
}

.carousel .carousel-item h3 {
    margin: 0;
    margin-top: -100px;
    font-weight: bold;
    background: #101722;
    padding: 100px 100px;
    color: rgb(255, 255, 255);
    font-size: 2em;
    box-sizing: border-box;
    text-align: center;
}

.container {
    background: #f4f4f4;
}

.header {
    background: #ffee00;
    height: 500%;
    width: 100%;
    padding: 2px;
    margin-top: 4px;
}

.nav-wrapper {
    background: royalblue;
}

@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans);
body {
    background-color: antiquewhite;
}

.card {
    background-color: #f4f4f4;
    width: 300px;
    margin: 10px auto;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.7);
}

.card-header {
    overflow: hidden;
    width: 100%;
    max-height: 200px;
}

.card-header img {
    width: 100%;
}

.card-content {
    width: 85%;
    margin: 35px auto;
}

.card-content h3 {
    font-size: 25px;
    margin-bottom: 0;
    color: #303F9F;
    font-family: 'Montserrat', sans-serif;
}

.card-content h4 {
    font-size: 14px;
    margin-top: 0;
    color: #FF5252;
    font-family: 'Montserrat', sans-serif;
}

.card-content p {
    color: #727272;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
}

.card-footer {
    border-top: solid 1px #B6B6B6;
    padding: 5px;
}

.card-footer ul {
    padding: 0;
    width: 90%;
    margin: auto;
    text-align: center;
}

.card-footer ul li {
    display: inline-block;
    list-style: none;
    margin: 5px;
}

.card-footer ul li i {
    font-size: 2em;
    color: #3F51B5;
}